.react-calendar {
  width: 100%;
  margin-bottom: 10px;
  height: 300px;

  background-color: #fff;
  color: #222;
  /* border-radius: 8px; */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar__navigation {
  border-radius: 20px 20px 0 0;
}

.react-calendar__navigation button {
  color: #000000;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
abbr[title] {
  text-decoration: none;
}

.react-calendar__month-view__days__day {
  width: 18px;

  abbr {
    color: #000;
  }
}

.react-calendar__month-view__days__day--weekend {
  abbr {
    color: #d10000;
  }
}

.react-calendar__month-view__days__day--neighboringMonth {
  abbr {
    color: #d1d1d1;
  }
}

.react-calendar__tile--now {
  background-color: white;
  abbr {
    /* color: #ffffff; */
    /* background-color: black; */
    border: 2px solid;
    padding: 15%;
    font-size: 12px;
    border-radius: 50% !important;
  }
}

/*hover, focus 시 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border-radius: 15%;
}

.react-calendar__tile--active,
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: white;

  abbr {
    color: #ffffff;
    background-color: black;
    color: white;
    padding: 15%;
    font-size: 12px;
    border-radius: 50% !important;
  }
}
